body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(
        to right,
        rgb(98, 0, 234),
        rgb(236, 64, 122),
        rgb(98, 0, 234)
    );
    background-size: 200%;
    animation: background-pan 5s linear infinite;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

#tiles {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
    position: relative;
}

.tile::before {
    background-color: rgb(20, 20, 20);
    content: "";
    position: absolute;
    inset: 0.5px
}

.tile:hover {
    opacity: 0.95;
}

#input {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 200px;
    background-color: rgba(8, 255, 20, 0.2);
    z-index: 100000;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: repeating-linear-gradient(0deg, #ffffff, #ffffff 17px, transparent 17px, transparent 32px, #ffffff 32px), repeating-linear-gradient(90deg, #ffffff, #ffffff 17px, transparent 17px, transparent 32px, #ffffff 32px), repeating-linear-gradient(180deg, #ffffff, #ffffff 17px, transparent 17px, transparent 32px, #ffffff 32px), repeating-linear-gradient(270deg, #ffffff, #ffffff 17px, transparent 17px, transparent 32px, #ffffff 32px);
    background-size: 5px 100%, 100% 5px, 5px 100% , 100% 5px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 1s infinite linear;
    pointer-events: none;
}

@keyframes borderAnimation {
    from { background-position: 0 0, -32px 0, 100% -32px, 0 100%; }
    to { background-position: 0 -32px, 0 0, 100% 0, -32px 100%; }
    }

.uploader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: min-content;
    width: 600px;
    background-color: rgb(50, 50, 50);
    z-index: 10000;
    border-radius: 20px;
    box-shadow: 0 30px 50px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
    overflow: hidden;
    color: white;
    padding: 10px;
}

.uploader h3 {
    width: 100%;
    text-align: center;
}

.uploader.dragging {
    background-color: #08ff14;
    border-color: #00740f;
}

.uploader .file-display {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%;
    height: 150px;
    gap: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 200px;
    padding: 0 20px;
}

::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar {
    width: calc(100% - 20px); /* Width of the scrollbar */
    height: 10px; /* Height of the scrollbar (horizontal) */
}

.uploader img {
    height: 100px;
    width: 100px;
    display: block;
    width: 100px;
    border-radius: 5px;
}
.uploader .file-info {
    margin: 10px 0;
    height: min-content;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 0 0 auto;
    position: relative;
    background-color: rgb(80, 80, 80);
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.uploader .file-info p {
    width: 100px;
    text-wrap: wrap;
    font-size: 10px;
}

.file-info .remove-file {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    padding: 0;
    text-align: center;
}

.file-info .remove-file:hover {
    background: darkred;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

.buttons button {
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.buttons button:hover {
    opacity: 0.7;
}

.buttons .clear {
    background-color: red;
}

.buttons .upload {
    background-color: gray;
}

.buttons .convert {
    background-color: green;
}